OH_MY_GTM_APP_NAME=oh-my-gtm
OH_MY_GTM_DATABASE_URL=sqlite+pysqlite:///./oh_my_gtm.db
OH_MY_GTM_ENV=local
OH_MY_GTM_DEFAULT_EMAIL_MODE=auto_send
OH_MY_GTM_DEFAULT_LINKEDIN_MODE=compliance_manual
OH_MY_GTM_MAX_DAILY_EMAIL_SENDS=50
OH_MY_GTM_MAX_DAILY_LINKEDIN_PREPS=25
OH_MY_GTM_HUMAN_REVIEW_FOR_HIGH_RISK=true
